<h4>注文履歴一覧</h4>

<div>
  <table border="1">
    <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払い金額</th>
      <th>注文詳細</th>
    </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>