<div class="container">
  <div class="row justify-content-md-center text-center">
    <div class="col ">
      <div class="mx-auto">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>