<h4>会員一覧</h4>
<div>
  <table border="1" >
    <thead>
      <tr>
        <th class="header1">会員ID</th>
        <th class="header2">氏名</th>
        <th class="header3">メールアドレス</th>
        <th class="header4">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name, admin_customer_path(customer.id) %><%= link_to customer.first_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
          <% if customer.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>