<h4>ショッピングカート</h4>


<div>
  <table border="1">
    <thead>
      <tr>
        <th class="header1">商品名</th>
        <th class="header2">単価（税込）</th>
        <th class="header3">数量</th>
        <th class="header4">小計</th>
        <th class="header5"></th>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
      <% end %>
    </thead>
  </table>
</div>

