<div>
  <%= image_tag @item.get_image %>
</div>
<table>
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>¥<%= @item.add_tax_price.to_s(:dalimited) %><h10>(税込)</h10></td>
  </tr>
  <tr>
    <th>数量を選択してください</th>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>